@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll-hidden para navegadores modernos */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none; /* IE y Edge antiguos */
  scrollbar-width: none; /* Firefox */
}

